<div class="sidebar-box-2">
    <h2 class="heading mb-4"><a href="#">Clothing</a></h2>
    <ul>
        <li><a href="#">Shirts &amp; Tops</a></li>
            <li><a href="#">Dresses</a></li>
            <li><a href="#">Shorts &amp; Skirts</a></li>
            <li><a href="#">Jackets</a></li>
            <li><a href="#">Coats</a></li>
            <li><a href="#">Sleeveless</a></li>
            <li><a href="#">Trousers</a></li>
            <li><a href="#">Winter Coats</a></li>
            <li><a href="#">Jumpsuits</a></li>
    </ul>
</div>