<section class="ftco-section bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-10 order-md-last">
				<div class="row">
					{% for product in products %}
					{% include 'app/components/product-card.html' %}
					{% endfor %}
				</div>

                {% include 'app/components/paginator.html' %}

			</div>

			<div class="col-md-4 col-lg-2 sidebar">
				<form method="get">
					<input type="text" name="q">
					<button type="submit">SEARCH</button>
				</form>
				{% for filter_name, objs in filters.items() %}
					{% include 'app/components/filter-box.html' %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>